
$darkColor: #00171f;
$grayBgColor: linear-gradient(135deg,#FFF 0,#E9E6F7 100%);
$headingFont: Montserrat, sans-serif;
h1,h2,h3,h4,.section-header {
    font-family: $headingFont;
    font-weight: 700;
}
.btn {
    font-family: $headingFont;
    &-circular {
        border-radius: 50%;
        padding: 6px 14px;
    }
}

section {
    padding: 150px 0;
}

.navbar-setting {
    background-color: rgba(255, 255, 255, 0.95);
}

.navbar-setting .navbar-nav > li > a {
    padding: 22px 13px;
    color: #333;
}

.section-header {
    font-size: 72px;
    line-height: 72px;
    font-weight: 700;
    position: relative;
    padding-bottom: 30px;
}

blockquote {
    margin-top: 75px;
    padding-left: 10px;
    border-left: 4px solid #007bff;
    color: #6C6B73;
    font-size: 20px;
    line-height: 28px;
}

.ico-review {
    li .title {
        font-size: 40px;
        line-height: 50px;
        font-weight: 700;
    }
    li .text {
        font-size: 16px;
        line-height: 20px;
    }
}

nav.fixed-top {
    width: 100%;
    position: fixed;
}

nav.transparent {
    background: rgba(0,0,0,0);
    color: #fff;
}

section {
    &.gray {
    background-image: $grayBgColor;
    }
    // &.bordered-bottom {
    //     border-bottom: 1px solid #E7E9EF;
    //     padding-bottom: 0;
    //     margin-bottom: 75px;
    // }
    &.main {
        h1,p,h2 {
            margin-bottom: 30px;
        }
    }
    &.dark-bg {
        background: $darkColor;
        color: #fff;
    }
}

.small-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

.secondary-title {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
}

.problems-item {
    margin-bottom: 60px;
    .problems-item-title {
        font-size: 36px;
        line-height: 48px;
        font-weight: 700;
        margin-bottom: 15px;
    }
}



.btn-transparent {
    background-color: rgba($color: #fff, $alpha: 0.1);
    color: #fff;
}

hr {
    margin: 0;
}


svg{
    opacity:0;
    width:80%;
    height:80%;
  }
  

.about  {
    &-card {
        border-radius: 2px;
        background-color: #fff;
        box-shadow: 0 10px 50px 0 rgba(48,52,152,.1);
        padding: 30px;
        // display: flex;
        &-icon {
            img {
                width: 60px;
                height: 60px;
            }
            margin-bottom: 15px;
        }
    }
    ul {
        display: block;
        list-style: none;
        padding-left: 0;
        li:before {
            content: '—';
            margin-right: 7px;
        }
    }
}

.card-title {
    font-family: $headingFont;
    font-weight: 800;
}

.about-list {
    padding: 60px 0;
}


  .token-sale {
    padding: 30px;
    border-radius: 6px;
    background: rgba(255,255,255,0.1);
  }

  .token-sale-list {
      li {
      border-top: 1px solid #ccc;
      padding: 30px 0;
      display: flex;
  }
  h4 {
    -webkit-box-flex: 0;
    flex: 0 0 240px;
  }
  p {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
  }
}


footer {
    padding: 90px 0;
}

footer ul {
    list-style: none;
    padding-left: 0;
}

footer ul.social li {
    display: inline;
}

footer input {
    width: 125px;
}

.spacing30 {
    padding: 15px 0;
}

.spacing60 {
    padding: 30px 0;
}

.subscribe-form input {
    margin-right: 10px;
}

.navbar-setting {
    background:rgba(0, 0, 0, 0.9);
    transition: all .3s;
    .navbar-nav > li > a {
        padding: 10px 13px;
        color: #333;
    }
}

.cta {
    padding: 60px 0;
    text-align: center;
    form {
        justify-content: center;
    }
}

.product__content-header-description{
    max-width:700px;
    margin-top:20px
}
.product__content-roadmap-content .roadmap-tree{
    position:relative;
    padding-bottom:150px;
    list-style: none;
}
.product__content-roadmap-content .roadmap-tree::before{
    content:'';
    position:absolute;
    top:0;
    left:4px;
    height:100%;
    border-right:2px solid #007bff
}
.product__content-roadmap-content .roadmap-tree .year{
    position:relative;
    width: 130px;
    height: 55px;
    background-color:#FFF;
    text-align:center;
    line-height:50px;
    border:2px solid #007bff;
    border-radius:100px;
    font-size:24px;
    font-weight:700
}
.product__content-roadmap-content .roadmap-tree .roadmap-item-card{
    background:#FFF;
    box-shadow:0 8px 12px 0 rgba(50,49,58,.25);
    border-radius:6px;
    display:inline-block;
    position:relative;
    text-align:left;
    will-change:right,top,left,opacity
}
.product__content-roadmap-content .roadmap-tree .roadmap-item-card .tree-connect{
    position:absolute;
    top:30px;
    border-bottom:2px solid #007bff;
    will-change:width
}
.product__content-roadmap-content .roadmap-tree .roadmap-item-card .tree-connect::before{
    content:'';
    position:absolute;
    display:inline-block;
    width:20px;
    height:20px;
    background:#FFF;
    border:6px solid #007bff;
    border-radius:20px;
    box-sizing:border-box
}
.product__content-roadmap-content .roadmap-tree .roadmap-item-card .tree-connect::after{
    content:'';
    display:inline-block;
    position:absolute;
    width:10px;
    height:10px;
    background:#FFF;
    border:2px solid #007bff;
    border-radius:10px;
    box-sizing:border-box
}
.product__content-roadmap-content .roadmap-tree .roadmap-item-card .roadmap-item-title{
    font-size:16px;
    line-height:22px;
    font-weight:700
}
.product__content-roadmap-content .roadmap-tree .roadmap-item-card .roadmap-item-description{
    margin-top:10px
}
.product__content p{
    font-size:20px;
    line-height:28px;
    color:rgba(50,49,58,.7)
}
@media (max-width:767px){
    .product__content-roadmap{
        margin-top:50px
    }
    .product__content-roadmap-header .roadmap-description{
        margin-top:20px;
        font-size:16px;
        line-height:22px
    }
    .product__content-roadmap-header .roadmap-title{
        font-size:20px;
        line-height:28px
    }
    .product__content-roadmap-content .roadmap-tree .year{
        margin-bottom:30px;
        margin-left:auto;
        margin-right:auto
    }
    .product__content-roadmap-content .roadmap-tree .year:not(:first-of-type){
        margin-top:50px
    }
    .product__content-roadmap-content .roadmap-tree .roadmap-item{
        margin-top:20px;
        position:relative
    }
    .product__content-roadmap-content .roadmap-tree .roadmap-item .tree-connect{
        width:calc(100% / 12 - 5px)!important;
        left:5px
    }
    .product__content-roadmap-content .roadmap-tree .roadmap-item .tree-connect::before{
        right:-13px;
        top:-9px
    }
    .product__content-roadmap-content .roadmap-tree .roadmap-item .tree-connect::after{
        left:-5px;
        top:-4px
    }
    .product__content-roadmap-content .roadmap-tree .roadmap-item-card{
        position:static;
        padding:20px 26px;
        max-width:calc((100% / 12) * 11);
        margin-left:calc(100% / 12)
    }
    .product__content p{
        font-size:16px;
        line-height:22px
    }
}
@media (min-width:768px){
    .product{
        padding-top:150px
    }
    .product__content-roadmap-content .roadmap-tree{
        margin-top:100px
    }
    .product__content-roadmap-content .roadmap-tree::before{
        left: 51.8%;
        -webkit-transform:translateX(-50%);
        transform:translateX(-50%)
    }
    .product__content-roadmap-content .roadmap-tree .year{
        margin-left:auto;
        margin-right:auto
    }
    .product__content-roadmap-content .roadmap-tree .year:not(:first-of-type){
        margin-top:-75px;
        margin-bottom:115px
    }
    .product__content-roadmap-content .roadmap-tree .year:first-of-type{
        margin-bottom:150px
    }
    .product__content-roadmap-content .roadmap-tree .roadmap-item{
        margin-top:-75px
    }
    .product__content-roadmap-content .roadmap-tree .roadmap-item.left{
        text-align:left
    }
    .product__content-roadmap-content .roadmap-tree .roadmap-item.left .roadmap-item-card{
    }
    .product__content-roadmap-content .roadmap-tree .roadmap-item.left .roadmap-item-card .tree-connect{
        top:63px;
        left:calc(100% + 6px)
    }
    .product__content-roadmap-content .roadmap-tree .roadmap-item.left .roadmap-item-card .tree-connect::before{
        left:-13px;
        top:-9px
    }
    .product__content-roadmap-content .roadmap-tree .roadmap-item.left .roadmap-item-card .tree-connect::after{
        right:-5px;
        top:-4px
    }
    .product__content-roadmap-content .roadmap-tree .roadmap-item.right{
        text-align:right
    }
    .product__content-roadmap-content .roadmap-tree .roadmap-item.right .roadmap-item-card{
    }
    .product__content-roadmap-content .roadmap-tree .roadmap-item.right .roadmap-item-card .tree-connect{
        top:63px;
        right:calc(100% + 6px)
    }
    .product__content-roadmap-content .roadmap-tree .roadmap-item.right .roadmap-item-card .tree-connect::before{
        right:-13px;
        top:-9px
    }
    .product__content-roadmap-content .roadmap-tree .roadmap-item.right .roadmap-item-card .tree-connect::after{
        left:-5px;
        top:-4px
    }
    .product__content-roadmap-content .roadmap-tree .roadmap-item .tree-connect{
        width:115px
    }
    .product__content-roadmap-content .roadmap-tree .roadmap-item-card{
        padding:50px;
        max-width:calc(50% - 115px)
    }
    .product__content-roadmap-content .roadmap-tree .roadmap-item-card .roadmap-item-title{
        font-size:24px;
        line-height:28px
    }
    .product__content-roadmap-content .roadmap-tree .roadmap-item-card .roadmap-item-description{
        margin-top:28px
    }
}

.btn-link {
    font-weight: 800;
}